<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www1.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<bean name="student1"
		class="com.example.springioc.CollectionValuesInjection">
		<property name="map">
			<map>
				<entry key="name" value="srinivasu" />
				<entry key="id" value="760545"></entry>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="name">srinivasu</prop>
				<prop key="id">760545</prop>
			</props>
		</property>
		<property name="set">
		  <set>
		     <value>1</value>
		     <value>2</value>
		     <value>3</value>
		  </set>
		</property>
		<property name="list">
		  <set>
		     <value>1</value>
		     <value>2</value>
		     <value>3</value>
		  </set>
		</property>
	</bean>


</beans>
